// Place all the styles related to the api/boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.board-form{
    margin: 0;
    width: 540px;
    height: 523px;
    position: relative;
    display: flex;
    border-radius: 34px;
    // vertical-align: super;
    // align-items: center;
    // justify-content: space-around;
    margin-bottom: 40px;
    // flex-direction: column;
    justify-content: space-around;
    flex-direction: row;
    width: 540px;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.form-header {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 28px;
    position: absolute; top: 30px; left: 170px;
    font-weight: 700;
    border-block-start: 2px;
    border-block-end: 2px;
    border-top-color: #d3d3d3;
    border-left-color: #d3d3d3;
    border-color: #d3d3d3;
}

#form-header  {
    margin-bottom: 4px;
}

.form-label {
    margin-bottom: 6px;
}

// #input-field {
//     margin-top:
// }

// .toggle {
//     position: absolute;
//     display : inline-block; 
//     width : 100px; 
//     height : 52px;
//     border-radius: 34px;
// }

// input[type="checkbox"] {
//     background-color: initial;
//     appearance: checkbox;
//     box-sizing: border-box;
// }
// ::placeholder { /* Most modern browsers support this now. */
//    color:    #aaa;
// }

// ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
// ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
// ::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
//     color: white;
// }

//  input[type="date"]:before {
//     content: attr(placeholder) !important;
//     color: #aaa;
//     margin-right: 0.5em;
//   }
//   input[type="date"]:focus:before,
//   input[type="date"]:valid:before {
//     content: "";
//   }

// .input {
//     -webkit-writing-mode: horizontal-tb !important;
//     text-rendering: auto;
//     display: inline-block;
//     appearance: textfield;
//     -webkit-rtl-ordering: logical;
//     margin: 0em;
//     font: 400 13.3333px Arial;
//     padding: 1px 2px;
//     border-width: 2px;
//     border-image: initial;
//     font-size: 16px;

//     font: 400 13.3333px Arial;
//     font-style: normal;
//     font-variant-ligatures: normal;
//     font-variant-caps: normal;
//     font-variant-numeric: normal;
//     font-variant-east-asian: normal;
//     font-weight: 400;
//     font-stretch: normal;
//     -webkit-rtl-ordering: logical;
//     letter-spacing: normal;
//     word-spacing: normal;
//     text-transform: none;
//     text-indent: 0px;
//     text-shadow: none;
//     display: inline-block;
//     webkit-writing-mode: horizontal-tb !important;
//     border-image: initial;
// }

.input-create{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    
}

// .right-index-nav{
//     position: fixed;
// }
// .input-form:hover{
//     border-top: #d0d0d0;
//     border-left: #d0d0d0;
// }
.input-form {
    width: 444px;
    height: 32px;
    align-items: center;
    cursor: input;
    border-radius: 16px;
    font-size: 16px;
    text-indent: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 16px;
    border-left-color: #ddd;
    border-top-color: #ddd;
    // border-right-color: #ddd;
    // border-bottom-color: #ddd;
}



#secret-toggle {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
}


#create-btn {
    position: absolute; right: 42px; bottom: 30px;
    height: 56px;
    width: 91.87px;
    box-sizing: border-box;
    color: #767676;
    background-color: #efefef;
    font-size: 16px;
    border-radius: 34px;
}

#secret-line {
  font-size: 16px;
  margin-top: 5px;
  color: #767676;
}

.notes, #secret {
    color: #767676;
    font-size: 12px;
    text-align: start;
    padding-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.index {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0px;
}
#index-name {
    margin-top: -20px;
    font-size: 16px;
    color: #111111;
}

 #index-header {
    font-size: 48px;
    font-weight: bold;
    margin-top: -40px;
    margin-bottom: 0px;
}

#show {
    margin: 0;
}

#index-initial {
    margin-top: 45px;
    padding: 60px;
    vertical-align: middle;
    background-color: #efefef;
    font-size: 80px;
    color: #211922;
    text-align: center; margin: auto;
    border-radius: 50%;
    border: none;
}

#initial-logo{
    font-size: 72px;
    font-weight: bold;
    z-index: 1;
    margin-top: -110px;
    border: none;
    
}

.board-nav-button {
    width: 77.66px;
    height: 48px;
    border-radius: 44px;
    padding-left: calc(var(--g-boint)*4);
    padding-right: calc(var(--g-boint)*4);
}

#nav-link {
    text-decoration: none;
    color: #111111;   
    font-size: 16px;
}

.board-nav-button:hover {
    background-color: #efefef;
}

.board-nav-button {
    box-sizing: border-box;
    background-color: white;
    padding: 0px, 0px;
}

#today{
    width: 78.61px;
    margin: 0;
}
#home-button {
    background-color: #211922;;
    #home-link {
        color: white;
        text-decoration: none;
        font-size: 16px;
    }
}

#following {
    margin-right: 20px;
    margin-left: 0;
    width: 106.16px;
}

.logo {
    margin-left: 30px;
    margin-right: 30px;
}

@media only screen and (max-width: 1000px) {
    #following  {
        display: none;

    }
}

@media only screen and (max-width: 800px) {
    #today  {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .search-icon  {
        display: none;
    }
}


#search {
    height: 48px;
    border: none;
    border-radius: 44px;
    background-color: #efefef;
    font-size: 16px;
    width: 60%;
    margin-left: 10px;
    
}


// .left-nav-index{
//     width: 25%;
//     justify-content: center;
//     color:red;

// }


// .right-nav-index{
//     display: inline-flex;
//     width: 100%
// }

// .right-nav {
//     position: fixed;
// }

.header-group {
    padding: 4px 0px;
    position: relative;
    justify-content: center;
    flex-direction: row;
    // overflow: hidden;
    // width: 100%;
}

.drop-down-icon {
    margin-top: 5px;
    margin-left: 25px;
    color: #767676;
    cursor: pointer;
}
// .board-nav-header {

// }
.logo {
    color: red;
}

.search-icon{
    z-index: 2;
}

.icon {
   padding: 25px, 25px;
   margin-left: 25px;
//    color: #767676;
   cursor: pointer;
}

#edit-board {
    cursor: pointer;

}

// #bell:hover {
//     // background-color: #efefef;
//     // color: #767676;
//     margin-left: 20px;
// }
#bell, #log-out, #comment{
    margin-left: 20px;
    color: #767676;
    // cursor: pointer;
}

#initial {
    background-color: #efefef;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 20px, 20px;
}





// #initial:hover{
//     width: 40px;
//     height: 40px;
//     background-color: #efefef;
//     border-radius: 50%;

//     // overflow: hidden;
// }

// #initial {
//     width: 24px;
//     height: 24px;
//     border-radius: 50%;
//     background-color: #efefef;
// }

#initial-link {
    text-decoration: none;
    font-size: 12px;
    text-anchor: center;
    margin: 0;
}

.modal-index {
    background-color: white;
}

#modal-create {
   position: absolute; right: 20px; top: 400px;
   color: black;
//    cursor: pointer;
//    object-position: 100%,;
}

#board-edit-form {
    height: 897px;
    width: 540px;
    // height: 100%;
    // position: relative;
    display: flex;
    border-radius: 34px;
    // vertical-align: super;
    align-items: center;
    // justify-content: space-around;
    margin-bottom: 40px;
    // flex-direction: column;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    // width: 540px;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#form-header {
    padding-top: 32px;
    padding-bottom: 32px;
}

#form-body {
    flex-direction: column;
    height: 655px;
    border: 1px;
    padding-left: 32px;
    padding-right: 32px;
}

// input 

input #input-name {
    color: red;
}

 textarea.textarea {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    width: 444px;
    height: 60px;
    border-radius: 16px;
    margin-top: 0px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-color: #ddd;
    // border-top-color: #efefef;
    border-width: 2px;
    // -webkit-writing-mode: horizontal-tb !important;
    // text-rendering: auto;
    // letter-spacing: normal;
    // word-spacing: normal;
    // text-transform: none;
    // text-indent: 0px;
    // text-shadow: none;
    // display: inline-block;
    // text-align: start;
    // -webkit-rtl-ordering: logical;
    // flex-direction: column;
    // cursor: text;
    // white-space: pre-wrap;
    // overflow-wrap: break-word;
    // font-style: normal;
    // font-variant-ligatures: normal;
    // font-variant-caps: normal;
    // font-variant-numeric: normal;
    // font-variant-east-asian: normal;
    
    // font-stretch: normal;
}

.description {
    margin-top: 25px;
    margin-bottom: 4px;
}

#settings{
    font-size: 12px;
}

.done-btn {
    position: absolute; right: 42px; bottom: 70px;
    background-color: #E60023;
    // justify-content: flex-end;
    height: 56px;
    width: 91.87px;
    box-sizing: border-box;
    color: #767676;
    background-color: #efefef;
    font-size: 16px;
    border-radius: 34px;
}

#initial-logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 50px;
}



// .board-index {
//     width: 488px;
//     height: 232px;
//     display: flex;
//     flex-direction: column;
//     margin: 150px 0px 25px 0px;
//     justify-content: center;
//     align-items: center;
//     margin-top: 100px;
//     text-align: center;
// }

.board-index-main-container {
    position: absolute;
    top: 180px;
    width: 100vw;
    // left: 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.board-item-container {
    width: 95%;
    height: auto;
    display: flex;
    padding: 20px;
    margin: 30px;
    flex-direction: row;
    justify-content: flex-start;
    
}

#index-item {
    width: 236px;
    height: 217px;
    padding: 8px;
}


.dropDown-board {
    position: absolute;
    top: 443px;
    right: 19px;
    box-shadow: 5px 5px 4px 5px #888888;
    width: 164px;
    height: 109px;
    border-radius: 16px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    text-indent: 4px;
    display: none;
    .dropDown-text-board {
        width: 164px;
        height: 35px;
        background-color: #FFF;
        font-weight: 700px;
        text-align: start;
        text-indent: 6px;
        margin: 0px;
        padding-left: 0px;
    }
    .dropDown-text-board:hover {
        border-radius: 8px;
        width: 160px;
    // margin-left: 0px;
        background-color: #efefef;
        
        
    }
}

#create-board-index {
    color: #111111;
    font-size: 12px;
    font-weight: 400px;
}

#images-main-container {
    width: 235px;
    height: 157px;
    border-radius: 16px;
    background-color: #efefef;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#edit-board {
    margin: 15px;
    padding: 15px;
    border-radius: 50%;
    color: transparent;
}

#edit-board:hover {
    color: #111111;
     background-color: #FFF;
}