// Place all the styles related to the api/boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.board-form{
    margin: 0;
    width: 540px;
    height: 523px;
    position: relative;
    display: flex;
    border-radius: 34px;
    margin-bottom: 40px;
    flex-direction: column;
    justify-content: center;
    width: 540px;
    background-color: white;
}

#form-header  {
    height: 33px;
    width: 100%;
    padding: 32px 0;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 28px;
    }
}

.form-label {
    margin-bottom: 6px;
    width: 100%;
    text-align: start;
}


.input-create{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 32px;
    
}


.input-form {
    width: 444px;
    height: 32px;
    align-items: center;
    cursor: input;
    border-radius: 16px;
    // font-size: 16px;
    // text-indent: 0px;
    // padding: 8px 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    // font-size: 16px;
    // border: 2px solid #d0d0d0;
    // border-right-color: #ddd;
    // border-bottom-color: #ddd;
}



#secret-toggle {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
}


#create-btn {
    position: absolute; right: 42px; bottom: 30px;
    height: 56px;
    width: 91.87px;
    box-sizing: border-box;
    color: #767676;
    background-color: #efefef;
    font-size: 16px;
    border-radius: 34px;
}

#secret-line {
  font-size: 16px;
  margin-top: 5px;
  color: #767676;
}

.notes, #secret {
    color: #767676;
    font-size: 12px;
    text-align: start;
    padding-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.index {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0px;
}
#index-name {
    margin-top: -20px;
    font-size: 16px;
    color: #111111;
}

//  #index-header {
//     font-size: 48px;
//     font-weight: bold;
//     margin-top: -40px;
//     margin-bottom: 0px;
// }
.board-header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.67%;
    span, h1, p {
        margin-bottom: 10px;
    }
}

#show {
    margin: 0;
}

#index-initial {
    margin-top: 45px;
    padding: 60px;
    vertical-align: middle;
    background-color: #efefef;
    font-size: 80px;
    color: #211922;
    text-align: center; margin: auto;
    border-radius: 50%;
    border: none;
}

#initial-logo{
    font-size: 72px;
    font-weight: bold;
    z-index: 1;
    margin-top: -110px;
    border: none;
    
}

.board-nav-button {
    width: 77.66px;
    height: 48px;
    border-radius: 44px;
}

#nav-link {
    text-decoration: none;
    color: #111111;   
    font-size: 16px;
}

.board-nav-button:hover {
    background-color: #efefef;
}

.board-nav-button {
    box-sizing: border-box;
    background-color: white;
    padding: 0px, 0px;
}

#today{
    width: 90px;
    margin-left: 10px;
}
#home-button {
    background-color: #211922;
    color: #FFF;
    #home-link {
        color: white;
        text-decoration: none;
        font-size: 16px;
    }
}

#following {
    margin-right: 5px;
    margin-left: 0;
    width: 106.16px;
}

.logo {
    margin: 10px 5px 10px 30px;
    color: #E60023;
}
.board-logo {
     margin: 10px 5px 10px 30px;
     color: #E60023
}

@media only screen and (max-width: 1500px) {
    #following, #today  {
        display: none;

    }
}

@media only screen and (max-width: 1500px) {
    .search-icon  {
        display: none;
    }
}


hgroup.header-group {
    width: 100%;
    display: flex;
    padding: 4px 0px;
    position: relative;
    justify-content: space-between;
    margin-top: 15px;
}
#search-input {
    width: 100%;
    border: none;
}
#search-input:hover{
    outline: none;
    border: none;
}
.drop-down-icon {
    margin-top: 5px;
    margin-left: 25px;
    color: #767676;
    cursor: pointer;
}
// .board-nav-header {

// }
#add-pin{
    color: #E60023;
}


.search-icon{
    z-index: 2;
    position: absolute;
    top: 18px;
    left:410px;
    color: #767676;
}

.icon {
   padding: 25px, 25px;
   margin-left: 25px;
//    color: #767676;
   cursor: pointer;
}

#edit-board {
    cursor: pointer;

}

#log-out, #comment{
    margin-left: 20px;
    color: #767676;
}

#initial {
    background-color: #efefef;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 20px, 20px;
}

#initial-link {
    text-decoration: none;
    font-size: 12px;
    text-anchor: center;
    margin: 0;
}


#modal-create:hover{
    // position: absolute; right: 40px; top: 80px;
    border-radius: 50%;
    background-color: #efefef;
   
}

#modal-create {
   position: absolute; right: 40px; top: 60px;
    width: 28px;
    height:28px;
    padding: 20px;
    font-weight: 400;
   color: black;
   
//    cursor: pointer;
//    object-position: 100%,;
}

.edit-form {
    display: flex;
    border-radius: 34px;
    align-items: center;
    margin-bottom: 40px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}

#board-edit-form {
    height: 750px;
    width: 540px;   
}


#form-body {
    flex-direction: column;
    justify-content: space-around;
    height: 555px;
    border: 1px;
    padding-left: 32px;
    padding-right: 32px;
}

// input 

input #input-name {
    color: red;
}

// .textarea {
//     padding: 8px 16px;
//     width: 444px;
//     height: 60px;
//     border-radius: 16px;
//     margin-top: 0px;
//     margin-bottom: 25px;
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 16px;
//     border: 2px solid #d0d0d0;
// }

.description {
    margin-top: 25px;
    margin-bottom: 4px;
}

#settings{
    font-size: 12px;
    margin-top: 25px;
}

.done-btn, #delete-btn {
    // position: absolute; right: 42px; bottom: 70px;
   
    // justify-content: flex-end;
    height: 56px;
    width: 91.87px;
    box-sizing: border-box;
 
    font-size: 16px;
    border-radius: 34px;
}

.done-btn {
    background-color: #E60023;
    color: #fff;
}

#delete-button {
    background-color: #efefef;
    color: #111111;
    position: absolute; left: 42px; bottom: 70px;
}

.edit-form-btns {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 80px;
}

#initial-logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 50px;
}



// .board-index {
//     width: 488px;
//     height: 232px;
//     display: flex;
//     flex-direction: column;
//     margin: 150px 0px 25px 0px;
//     justify-content: center;
//     align-items: center;
//     margin-top: 100px;
//     text-align: center;
// }

.board-index-main-container {
    position: absolute;
    top: 180px;
    width: 100vw;
    // left: 
    text-align: center;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.wrapper {
    display: flex;
    justify-content: center;

}

.board-item-container {
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px;
    margin: 20px 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    // gap: 1vw;
    // gap: 5px;
}

#index-item {
    width: 230px;
    height: 215px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
// .left-nav-icon {
//     display: flex;
//     align-items: flex-start;
// }
// .board-logo {
//     position: absolute;
//     top: 28px;
//     left: 15px;
//     margin-right: 20px;
// }

#left-img {
    position: relative;
    width: 153px;
    height: 153px;
    margin-bottom: 0;
    margin-right: 0px;
    object-fit: cover;
    background-color: #efefef;
    margin-right:2px;
    // overflow-y: hidden;
}

#right-img1, #right-img2 {
    width: 73px;
    height: 73px;
    object-fit: cover;
    background-color: #efefef;
    border: 1px solid #fff;
    margin-bottom: 0;
}

.dropDown-board {
    position: absolute;
    top: 130px;
    right: 19px;
    box-shadow: 5px 5px 4px 5px #888888;
    width: 164px;
    height: 109px;
    border-radius: 16px;
    text-align: start;
    align-items: flex-start;
    padding: 20px;
    text-indent: 4px;
    display: none;
    background-color: #FFF;
    z-index: 3;
    .dropDown-text-board {
        width: 164px;
        height: 35px;
        background-color: #FFF;
        font-weight: 700px;
        text-align: start;
        text-indent: 6px;
        margin: 0px;
        padding-left: 0px;
    }
    .dropDown-text-board:hover {
        border-radius: 8px;
        width: 160px;
        background-color: #efefef;
        
        
    }
}

#create-board-index {
    color: #111111;
    font-size: 12px;
    font-weight: 400px;
}

#images-main-container {
    position: relative;
    width: 230px;
    height: 157px;
    border-radius: 16px;
    background-color: #efefef;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    // justify-content: space-around;
    // align-items: flex-start;
}

#edit-board {
    padding: 7px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right:7px;
    color: transparent;
    z-index: 3;
}

#images-main-container:hover {
    #edit-board{
        color: #111111;
        background-color: #FFF;
    }
}

board-columns {
    padding: 20px;
}

.labels-board-index{
 width: 236px;
 height: 42px;
}


#board-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#board-show-top {
    min-height: 149px;
    padding: 20px;
    justify-content: center;
    align-items: center;

}

#board-show-pins {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    .column {
        display: flex;
        justify-content: center;
    }
}

h1 > .edit-pen {
    padding: 20px;
    padding-bottom: 0;
}

#board-description {
    padding-right: 10px;
}

.delete-message-box {
    height: 251px;
    width: 540px;
    background-color: #FFF;
    border-radius: 16px;
    h1 {
        padding: 32px;
        font-size: 28px;

    }
    p {
        padding:16px
    }
    div {
        padding: 32px;
    }
}

#linkedIn {
    border-radius: 24px;
    color: #0A66C2;
}