// Place all the styles related to the api/pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#body-container {
    width: 100%;
    height: 849px;
    background-color: #efefef;
}

#body-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 674px;
    margin-right: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    transform-origin: center top; 
    box-sizing: border-box;
}

#pin-create-form {
    background-color: #FFFFFF;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    width: 840px;
    height: 610px;
    border-radius: 16px;
    // display: flex;
    flex-direction: column;
}

#top-bar {
    display: flex;
    width: 800px;
    height: 40px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-right: 0px;
    justify-content: space-between;
}

#nav-right-pin-reset {
    margin-right: 0px;
}

#nav-right-pin-form {
    margin-right: 0px;
    width: 296px;   
    position: relative; right: 1vw;
}

#dots-pin-form {
    width: 40px;
    height: 40px;   
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
}

#nav-right-btns > div {
    display: flex;
    justify-content: space-between;
    width: 230px;
    margin-left: 30px;

    #select{
        display: flex;
        justify-content: space-between;
        padding-right: 3px;
        cursor: pointer;
    }
}


.edit {
    position: relative;
    #select{
        position: relative;
        width: 378.66px;
        border-radius: 8px;
        font-weight: 700;
        #svg-pin-drop-down {
            position: absolute;
            right: 20px;
        }
    }
}

.edit-field {
    width: 378.66;
}

.pin-wrapper {
    position: relative;
    #nav-right-btns > div{
        display: none;
        width: 200px;
        #svg-pin-drop-down{
            position: absolute;
            right: 75px;
            // display: none;
        }
    }
}

.pin-wrapper:hover {
    #nav-right-btns > div{
        display: flex;
    }
    .trash-pen-wrapper {
        display: flex;
    }
}




.feed-option > div {
    position: absolute;
    top: 20px;
    right: 17.5px;
}

.save {
    background-color: #E60023;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 65.23px;
    height: 40px;
    margin-left: 0px;
    color: #FFFFFF;
}

#svg-pin-drop-down {
    display: block;
    position: absolute;
    top: 10px;
    margin-left: 115px;
}

#svg-pin-form-dot {
    color: #878787;
    width: 18px;
    height: 18px;
    padding-top: 10px;
    // padding-top;
}

#pin-form-body{
    display: flex;
    justify-content: space-between;
}

#select {
    display: flex;
    align-items: center;
    // justify-content: center;
    padding-left: 13px;;
    width: 170.77px;
    height: 40px;
    color: #111111;
    border-radius: 6px 0px 0px 6px;
    // border-bottom-left-radius: 8px;
    // border-top-right-radius: 0px;
    // border-bottom-right-radius: 0px;
    background-color: #efefef;
    font-weight: 400;
}


#create-pin-left {
    width: 340px;
    height: 510px;
    margin-right: 0px;
    margin-left: 20px;
}
#create-pin-right {
    display: flex;
    justify-content: space-between;
    width: 380px;
    height: 446px;
    padding-left: 25px;
    margin-right:25px;
    flex-direction: column;
    
}

#upload-img, #show-img {
    position: relative;
    width: 340px;
    height: 454px;
    border-radius: 16px;
}
#upload-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 160px;
        position: absolute;
        bottom: 40px;
    }
}

#save-from-site {
    width: 340px;
    height: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 0px;
    margin-top: 10px;
    background-color: #efefef;
    color: #111111;
}


#all-boards {
    font-weight: 400;;
    font-size: 14px;
    position: absolute;
    top: 70px;
    left: 15px;
    margin-left: 15px;
    text-align: start;
}

#input-form-pins {
    border: none;
    border-bottom: 2px solid #efefef;
    width: 380px;
    height: 60px;
    padding-bottom: 0px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 36px;

}


#add-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 15px 15px 0px;

    height: 250px;
    // align-items: end;
    font-size: 16px;
}

#choose-link, #input-pin {
    width: 380px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #efefef;
}

#input-pin {
    padding-top: 30px;
}

#choose-link:focus, #input-pin:focus, #input-form-pins:focus{
    outline: none;
}
#choose-link {
    margin-top: 100px;
}

// #names{
//     flex-direction: row;
// }
#pin-initial {
    width: 32px;
     height: 32px;
}

.dropDown-content, .dropDown-content2 {
    position: absolute;
    top: 60px;
    width: 320px;
    height: 439px;
    display: none;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    stroke: rgb(239, 239, 239);
    display: none;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 10px 10px 8px 10px #888888; 
    z-index: 2;  
    #svg-pin-form-search {
        position: absolute;
        top: 25px;
        left: 40px;
    }
}



.dropDown-feed {
    box-shadow: none;
    z-index: 2;
}


#wrapper-dropdown {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.dropDown-options-wrapper {
    height: 320px;
}

.dropDown-options { 
    position: absolute;
    top: 45px;     
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
    font-weight: 700;
    max-height:288px;
    overflow-y:auto;  
    // div {
    //     margin-bottom: 10px;
    // } 
}


.mini-img {
    width: 36px;
    height: 36px;
    margin-bottom: 0px;
    margin-right: 15px;
}

.select-board {
    width: 272px;
    min-height:48px;
    text-align: left;
    padding: 10px;
    vertical-align: middle;
    margin: 0px 12px;
    font-size: 16px;
    cursor: pointer;
}

.select-board:hover  {
    background: #efefef;
    border-radius: 16px;
}

.edit-pen-wrapper:hover {
    background: #efefef;
    border-radius: 50%;
    
}

.trash-pen-wrapper {
    background-color: #fff;
    position: absolute;
    bottom: 30px;
    left:20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.edit-pen-wrapper {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#svg-pin-create-board {
    color: #e60023;
    margin-left: 18px;
    margin-top: 5px;
}

input.search-pins {
    width: 272px;
    height: 48px;
    border-radius: 24px;
    padding: 8px 40px 8px 50px;
    border: 2px solid #ddd; 
    text-align: start;
    font-size: 18px;
}


.search-pins:focus {
    box-shadow: 0 0 4pt 4pt #4a8ad4;
}

#svg-pin-form-search {
    position: absolute;
    top:76px;
    left: 30px;
    color: #767676;
    z-index: 1;
}

#top-pin-select {
    position: absolute;
    top: 3px;
    left: 0px;
    width: 320px;
    height: 60px;
    padding: 12px;
    text-align: center;
    vertical-align: center;
}

#create-board-btn{
    position: absolute;
    bottom: 20px;
    left: 10px;
    display: flex;
    justify-content: start;
    width: 304px;
    height: 36px;
    padding: 8px;

}

#text-create-board {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 700;
}

.pins-seeds-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
    justify-content: center;   
    align-items: start;

    .column {
        position: relative;
        margin-left: 8.5px;
        margin-right: 8.5px;
    }
}

.pins {
    position: relative;
    height: auto;
}

.pin-show-delete {
    position: absolute;
    top: 20px;
    right: 30px;
}


// Show CSS
.main-container-pin-show {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    // background-color: transparent;
}
.center-container-pin-show {
    max-width: 1016px;
    display: flex;
    border-radius: 16px;
    box-shadow: 10px 10px 8px 10px #888888;
    justify-content: space-between;
    cursor: pointer;
    vertical-align: center;
}

.left-container-pin-show > img {
    width: 100%;
    max-height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    
}
.left-container-pin-show {
      vertical-align: middle;
      margin: auto;
}

.right-container-pin-show {
    max-width: 508px;
    max-height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.right-top-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 460px;
    height:40px;
    padding: 20px 20px 16px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    .dropDown-content {
        position: absolute;
        left: 230px;
        box-shadow: 4px 4px 5px 4px #888888;
    }
}



.main-content-pin  {  
    color: #111111;
    padding: 20px; 
    margin: 7.5px, 0;
    vertical-align: middle;
    h3{
        font-size: 36px;
        margin-top: 0px;
        text-align: center;
    } 

    #pin-show-header {
        margin: 25px;
    }
}
#follow-btn {
    width: 100px;
    height: 50px;
    margin-right: 10px;
    background-color: #efefef;
}

#follow-btn:hover {
    background-color: #d3d3d3;
}
#name-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
#names {
    display: flex;
    flex-direction: row;
    justify-content: flex-starts;
    align-items: center;
}

#display-names, .edit-pin-left {
    display: flex;
    flex-direction: column;

}

#pin-edit-form {
    height: 600px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-pin-img {
    order: -1;
    width: 340px;
    max-height: 454px;
    height: auto;
}

.dropDown-wrapper {
    display: flex;
    justify-content: center;
}

.edit-pin-body-content,  .pin-edit-form-btns{
    display: flex;
    justify-content: space-between;  
}

.edit-pin-body-content {
    height: 350px;
    .edit-pin-left{
        margin-right: 25px;
    }
    .edit-pin-right{
        margin-left: 25px;
        overflow: hidden;
        img {
            max-height: 330px;
        }
    }
}

.pin-note {
    height: 80px;
}

.pin-edit-form-btns {  
    height: 40px;  
    padding: 32px 0;
    .pin-delete {
        margin-left: 0;
        display: none;
    }
}

#save {
    background-color: #E60023;
    color: white;
}

.error-img1, .error-img2 {
    z-index: 2;
    text-align: center;
    color: #767676
}

.error-img1, #svg-pin-warning {
    color: red;
    display: none;
}
#show-img {
    display: none;
}
#show-img:first-child {
    width: 100;
    height: auto;
}

.pin-edit-left-wrapper, .pin-edit-left-wrapper2 {
   
    width: 100%;
    margin: 10px 0 10px 0;

    input, textarea {
        width: 360px;
    }
    div {
        margin: 0px 0px 0px 20px;
    }
}

.pin-edit-left-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pin-edit-left-wrapper2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.dropDown-content2 {
    width: 390px;
    position: absolute;
    box-shadow: 2px 1px 1px 2px #888888;
    top: 40px;
    left: 20px;
    #top-pin-select {
        position: absolute;
        top: 10px;
        left: 0px;
        margin-left: 0px;
    }
    #all-boards {
        position: absolute;
        top: 80px;
        left: 0px;       
    }
    .dropDown-options {
        position: absolute;
        top: 80px;
        left: 0px;
        margin: 20px 0 0 0;
    }
    #create-board-btn {
        display: flex;
        justify-content: start;
        margin-left: 0;
        padding-left: 0;
    }
}

.pin-wrapper > h2 {
    position: absolute;
    top: 90px;
    left: 20px;
    color: white;
    display: none; 
    font-weight: 700;   
}

