// Place all the styles related to the api/pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#body-container {
    width: 100%;
    height: 849px;
    background-color: #efefef;
}

#body-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 674px;
    margin-right: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    transform-origin: center top; 
    box-sizing: border-box;
}

#pin-create-form {
    background-color: #FFFFFF;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    width: 840px;
    height: 610px;
    border-radius: 16px;
    // display: flex;
    flex-direction: column;
}

#top-bar {
    display: flex;
    width: 800px;
    height: 40px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-right: 0px;
    justify-content: space-between;
}

#nav-right-pin-reset {
    margin-right: 0px;
}

#nav-right-pin-form {
    margin-right: 0px;
    width: 296px;
    
    position: relative; right: 1vw;
}

#dots-pin-form {
    width: 40px;
    height: 40px;   
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    // background-color: #E60023;

    // vertical-align: center;
    // justify-content: center;
}

#nav-right-btns {
    display: flex;
    justify-content: space-between;
    width: 236px;
    margin-left: 30px;
    // #svg-pin-drop-down{

    // }
    #select{
        display: flex;
        justify-content: space-between;
        padding-right: 3px;
        cursor: pointer;
    }
    

}

.save {
    background-color: #E60023;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 65.23px;
    height: 40px;
    margin-left: 0px;
    color: #FFFFFF;
}

#svg-pin-drop-down {
    display: block;
    position: absolute;
    top: 10px;
    margin-left: 115px;
}

#svg-pin-form-dot {
    color: #878787;
    width: 18px;
    height: 18px;
    padding-top: 10px;
    // padding-top;
}

#pin-form-body{
    display: flex;
    justify-content: space-between;
}

#select {
    display: flex;
    align-items: center;
    // justify-content: center;
    padding-left: 13px;;
    width: 170.77px;
    height: 40px;
    color: #111111;
    border-radius: 6px 6px 0px 0px;
    // border-bottom-left-radius: 8px;
    // border-top-right-radius: 0px;
    // border-bottom-right-radius: 0px;
    background-color: #efefef;
    font-weight: 400;
}


#create-pin-left {
    width: 340px;
    height: 510px;
    margin-right: 0px;
    margin-left: 20px;
}
#create-pin-right {
    display: flex;
    justify-content: space-between;
    width: 380px;
    height: 446px;
    padding-left: 25px;
    margin-right:25px;
    flex-direction: column;
    
}

#upload-img {
    width: 340px;
    height: 454px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    border-radius: 16px;
}

#save-from-site {
    width: 340px;
    height: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 0px;
    margin-top: 10px;
    background-color: #efefef;
    color: #111111;
}

#all-boards {
    font-weight: 400;;
    font-size: 14px;
    position: absolute;
    top: 130px;
    margin-left: 15px;
    text-align: start;
}

#input-form-pins {
    // padding-left: 0px;
    // padding-right: 0px;
    // padding-top: 0px;
    // padding-bottom: 0px;
    border: none;
    border-bottom: 2px solid #efefef;
    width: 380px;
    height: 60px;
    padding-bottom: 0px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 36px;

}


#add-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 15px 15px 0px;

    height: 250px;
    // align-items: end;
    font-size: 16px;
}

#choose-link, #input-pin {
 width: 380px;
 font-size: 18px;
 border: none;
border-bottom: 2px solid #efefef;
 margin-top: 20px;
}

#choose-link:focus, #input-pin:focus, #input-form-pins:focus{
    outline: none;
}
#choose-link {
    margin-top: 140px;
}

#names{
    flex-direction: row;
}
#pin-initial {
    width: 32px;
     height: 32px;
}

#dropDown-content {
    width: 296px;
    height: 439px;
    display: none;
    // visibility: none;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    stroke: rgb(239, 239, 239);
    display: none;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 10px 10px 8px 10px #888888;
    
}

// #dropDown-content-on {
//     display: block;
// }
// #dropDown-content-off{
//     display: none;
// }

#wrapper-dropdown {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.dropDown-options {   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 700;
    margin-top: 40px;
    max-height:280px;
    overflow-y:auto;   
}

.mini-img {
    width: 36px;
    height: 36px;
    margin-bottom: 0px;
    margin-right: 15px;
}

.select-board {
    width: 272px;
    min-height:48px;
    text-align: left;
    padding: 10px;
    vertical-align: middle;
    margin: 4px 12px 4px 12px;
    font-size: 16px;
    cursor: pointer;
}

.select-board:hover {
    background: #efefef;
    border-radius: 16px;
}

#svg-pin-create-board {
    color: #e60023;
    margin-left: 18px;
    margin-top: 5px;
}

input#search-pins {
    width: 272px;
    height: 48px;
    border-radius: 24px;
    padding: 8px 40px 8px 50px;
    border: 2px solid #ddd; 
    text-align: start;
    font-size: 18px;
}

#search-pins:focus {
    // outline: 3px solid ;
    box-shadow: 0 0 4pt 4pt #4a8ad4;
}

#svg-pin-form-search {
    position: absolute;
    top:76px;
    left: 30px;
    color: #767676;
    z-index: 1;
}

#top-pin-select {
    width: 320px;
    height: 60px;
    padding: 12px;
    text-align: center;
    vertical-align: center;
}

#create-board-btn{
    display: flex;
    justify-content: start;
    width: 304px;
    height: 36px;
    padding: 8px;

}

#text-create-board {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 700;
}

.pins-seeds-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
    justify-content: center;   
    align-items: start;

    .column {
        position: relative;
        margin-left: 8.5px;
        margin-right: 8.5px;
    }
}

.pins {
    position: relative;
    height: auto;
}

.pin-show-delete {
    position: absolute;
    top: 20px;
    right: 30px;
}


// Show CSS
.main-container-pin-show {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    // background-color: transparent;
}
.center-container-pin-show {
    max-width: 1016px;
    display: flex;
    border-radius: 16px;
    box-shadow: 10px 10px 8px 10px #888888;
    justify-content: space-between;
    cursor: pointer;
    vertical-align: center;
}

.left-container-pin-show > img {
    width: 100%;
    max-height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    
}
.left-container-pin-show {
      vertical-align: middle;
      margin: auto;
}

.right-container-pin-show {
    max-width: 508px;
    max-height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    

}

.right-top-nav {
    position: relative;
    width: 460px;
    height:40px;
    padding: 20px 20px 16px 28px;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}

.main-content-pin  {
    color: #111111;
    padding: 20px; 
    margin-top: 0px;
    vertical-align: middle;
    h3{
        font-size: 36px;
        margin-top: 0px;
    } 

    span {
        margin-bottom: 45px;
    }
}
    
#names {
    display: flex;
    justify-content: flex-starts;
    flex-direction: row;
    align-items: center;
}

#display-names {
    display: flex;
    flex-direction: column;

}

.create-pin-img {
    order: -1;
    width: 340px;
    max-height: 454px;
    height: auto;
}

#top-pin-select {

}