html{
  // height: 200%;
  display: fixed;
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
}

html, body, header, nav, h1, a,
ul, li, strong, main, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

h1, strong {
  font-weight: 700;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
}

p, span, h1, strong, h2, h3 {
  color: #111111;
}

button{   
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 20px;
    margin-left: 15px;
    vertical-align: middle;
    width: 77.66px;
    height: 48px;
    font-size: 12px;
    height: 40px;
    font-weight: 700;
    border: none;
    font-size: 16px;
    text-align: center;
}

input, textarea {
  border-radius: 16px;
  border: 2px solid #efefef;
  padding: 8px 16px;
  height: 32px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: input;
}

textarea {
  width: 444px;
  height: 60px;
}

input:hover, textarea:hover {
  border-color: #d0d0d0;
}

// .background {
//   width: null;
//   height: null;
//   // background-image: url("../../images/arch/space.png");
// }
// ul {
//   list-style: none;
// }

// img {
//   display: block;
//   width: 100%;
//   height: auto;
// }

// nput[type="password"],
// input[type="email"],
// input[type="text"],
// textarea,
// button {
//   /*
//   Get rid of native styling. Read more here:
//   http://css-tricks.com/almanac/properties/a/appearance/
//   */
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
// }

button,
input[type="submit"] {
  cursor: pointer;
  border-radius: 34px;
}

// .group:after {
//   content: "";
//   display: block;
//   clear: both;
// }