// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.session-bottom {
    margin-bottom: 0px;
    // position: absolute;
    // bottom: 55px;
}
.input-session {
    width: 280px;
    min-height: 28px;
    padding: 8px 16px;
    border-radius: 16px;  
    margin-top: 0px; 
    margin-bottom: 5px;
    border-color: #efefef;
    border-style: solid;
    border-width: 2px;
    text-indent: 4px;
    text-align: start;
    cursor: text;
    font-weight: 400;
}

.session-logo {
    margin-top: 20px;
    margin-bottom: 15px;
    color: #e60023;
}

.session-forms{
    height: 579px;
    width:  484px;
    background-color: white;
    min-height: 400px;
    padding: 20px 10px 24px;
    vertical-align: middle;
    border-radius: 8px;
    font-size: 16px;
    position: relative;
    margin: auto;
    width: 484px;
    font-weight: 700px;
    padding-bottom: 55px;
    position: relative;
    text-align: center;   
}

.greeting {
    margin-top: 0px;
    display: bolock;
    font-size: 36px;
    line-height: 30px;
}

.find-subject {
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: normal;
    margin: 5px 0px 32px 0px;
}


.nav-link {
    margin-top: 20px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    margin-top: 20px;
}

.form {
    display: flex;
    justify-content: space-around;
  
}

#error {
    color: red;
    margin-top: 0;
}


span {
    font-size: 14px;  
    .error-message {
        color: red;
        padding: 15px;
    }
}

#session-form-text {
    margin-top: 15px;
    text-align: center;
}

#terms-of-service {
    font-weight: 700;
    font-size: 11px;
    margin-top: 2px;
    display: block;
    line-height: 3px;
    // position: absolute;
    // bottom: 100px;
}

#agreement {
    font-size: 11px;
    color: #767676;
    display: block;
    line-height: 20px;
}

#modal-button {
    width: 320px;
}

#session-link {
    margin-top: 25px;
}

