// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .group {
//     width: 100vw;

// }
.main-nav {
    display:flex;
    height: 68px;
    justify-content: space-between;
    // margin-left: 25px;
    padding: 0px 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.right-nav > ul{
    justify-content: flex-end;;
    flex-direction: row;
    width: 496.3px;
    height: 56px;

}

.left-nav {
    color: #e60023;
}

// .left-nav 
.login-signup {
    padding: 20px 20px;
}

button{   
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 20px;
    margin-left: 15px;
    vertical-align: middle;
    width: 77.66px;
    height: 48px;
    font-size: 12px;
    height: 40px;
    font-weight: 700;
    border: none;
    font-size: 16px;
    text-align: center;
}

#login {    
    background-color: #e60023;
    color: white;  
}

#signup {
    background-color: #efefef;;
    color: black;
    width: 88.13px;
}


button#modal-button{
    width: 320px;
    height: 40 px;
    margin-bottom: 10px;
    background-color: #e60023;
    color: white;
    margin-left: 0px;
    margin-top: 20px;
}


button:focus {
    outline: none;
}

button#demo-button1 {
    background-color: #1877F2;
    color: white;
    margin-bottom: 10px;
}
#demo-button1, #demo-button2 {
    width: 320px;
    height: 40 px;
    margin-left: 0;
    background-color: #efefef;
    color: #111111;
    // order: 1;
}

.main-content {
    // height: 150px;
    margin-top: 73.5px;
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    // height: 300px;
    
    div{
        margin: 2px;
        height: 30%;

    }
    p{
        z-index: 0;
        color: rgb(97, 140, 123);
        margin: 10px;
        transform: translateY(-80px);
    }
}

.seeds-container {
    z-index: -1;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    
    // -ms-flex-wrap: wrap;
    margin-left: 20px;
    // margin-right: 0px;
    margin-top: -210px;
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;

    .column {
        width: 230px;
        margin-right: 17px;
    }
    .column7{
        margin-right: 0px;
    }
}

 img {
        border-radius: 12px;
        max-width: 230px;
        max-height: 350px;
        position: relative;
        margin-bottom: 15px;
        
    }

.placeholder1 {
    width: 230px;
    height: 70px;
}
.placeholder2 {
    width: 230px;
    height: 200px;
}
.placeholder3 {
    width: 230px;
    height: 300px;
}

// .column2, .column3, .column4,
// .column5, .column6, .column7 {
//        margin-bottom: 25px;
//     //    margin-right: 10px;
//        margin-left: 10px;
//        width: 230px;   
        
// }

// .column1 {
//     width: 230px;
//     margin-bottom: 25px;
// }
.column2 {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
}

.faStroopwafel1 {
    margin-right: 15px;
    color: #C28B00;
}
.faStroopwafel2 {
    color: #E60023;
    margin-right: 15px;
}
.faStroopwafel3 {
    color: #618C7B;
}


   