// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-group{
    padding-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 700px;
}

.main-nav {
    display:flex;
    height: 68px;
    justify-content: space-between;
    padding: 0px 20px;

}


.right-nav {
    justify-content: flex-end;;
    flex-direction: row;
    // width: 496.3px;
    height: 56px;

}

.right-nav-icons{
    display: flex;
    justify-content: space-between;
    width:168px;
    height: 48px;
    position: relative;
    right: 0.5vw;
    padding: 5px 10px 0;
}

.left-nav-icons {
    max-height: 80px;
    display: flex;
    flex-direction: row;
}

.left-nav {
    color: #e60023;
    display: flex;
    flex-direction: row;
}

.right-nav-items {
    vertical-align: middle;
    padding: 20px 20px;
}

#login {    
    background-color: #e60023;
    color: white;  
}

#signup {
    background-color: #efefef;;
    color: black;
    width: 88.13px;
}

.link-nav {
    font-weight: 700;
    font-size: 18px;
    margin-right: 20px;
}

.link-nav:hover {
    text-decoration: underline;   
}
button#modal-button{
    width: 320px;
    height: 40 px;
    margin-bottom: 10px;
    background-color: #e60023;
    color: white;
    margin-left: 0px;
    margin-top: 20px;
}


button:focus {
    outline: none;
}

button#demo-button1 {
    background-color: #1877F2;
    color: white;
    margin-bottom: 10px;
}

#demo-button1, #demo-button2 {
    width: 320px;
    height: 40 px;
    margin-left: 0;
    background-color: #efefef;
    color: #111111;
    // order: 1;
}

.main-content {
    margin-top: 73.5px;
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    
    div{
        margin: 2px;
        height: 30%;

    }
    p{
        z-index: 0;
        color: rgb(97, 140, 123);
        margin: 10px;
        transform: translateY(-80px);
    }
}

#search:focus{
    box-shadow: 0 0 4pt 4pt #4a8ad4;
    border-radius: 34px;
}

#search {
    height: 48px;
    text-indent: 50px;
    border: none;
    border-radius: 44px;
    background-color: #efefef;
    font-size: 16px;
    width: 70%;
    margin-left: 10px;
    color: #333;
    
}

.seeds-container {
    z-index: -1;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 250vh;
    overflow: hidden;
    margin-top: -210px;
    overflow: hidden;

    .column {
        width: 235px;
        margin-right: 8.5px;
        margin-left: 8.5px;
    }
}

img {
    border-radius: 12px;
    width: 235px;
    // max-height: 350px;
    position: relative;
    margin-bottom: 15px;
    
}

.placeholder1,.placeholder5 {
    height: 130px;
}
.placeholder2, .placeholder4 {
    height: 250px;
}
.placeholder3{
    height: 400px;
}

.faStroopwafel1 {
    margin-right: 15px;
    color: #C28B00;
}
.faStroopwafel2 {
    color: #E60023;
    margin-right: 15px;
}
.faStroopwafel3 {
    color: #618C7B;
}

#go-to-board {
    // color: #111111;
    // // text-decoration-color: #111111;
    // fill: #efefef;

    border-radius:5px;
    padding:0 5px;
    text-align:center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-bottom: 15px;
    border: 2px solid #111111;
}

.user-initial {
    width: 48px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    color: #211922;
    background-color: #efefef;
    border-radius: 50%;
    margin: 20px;
}


#board-nav-header {
    color: #E60023;
}

.about-wrapper {
    height: 100vh;
}

.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.asiatatler.com/asiatatler/i/ph/2020/04/14145432-valdemaras-d-7vpfyhb-j8y-unsplash_cover_1920x1217.jpg");
    background-size: cover;
    filter: blur(2px);
  -webkit-filter: blur(2px);
    height: 100vh;
}

// img.background {
//     width: 100%;
//     height: 90vh;
// }
.about-title, .about-content {
    margin-bottom: 20px;
    max-width: 500px;
    font-family: "NeueHaasGrot-Pinterest-DispRound-75-Bold",sans-serif,helvetica;
    color: #fff;
    z-index: 2;
    position: absolute;
  top: 32%;
  left: 15%;
}

.about-content {
    font-size: 50px;
    line-height: 1;
    margin: 0;
    top:37%;
}

.about-btn {
    width: 157.2px;
    height: 52px;
    background-color: #e60023;
    color: #fff;
    border-radius: 4px;
    z-index: 2;
    position: absolute;
    top: 57%;
    left: 15%;
    margin-left: 0;
    font-family: "NeueHaasGrot-Pinterest-DispRound-75-Bold",sans-serif,helvetica;
    font-weight: 400;
    font-size: 20px;
}

// .profile-body {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
// }
.profile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.profile-wrapper > form {
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: flex-start;
    width: 600px;
    height: 797px;
    h1 {
        margin-bottom: 10px;
    }
    img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
    p {
        padding-bottom: 8px;
        }
    input, textarea {
        width: 564px;
        padding: 8px, 16px;
        margin-bottom: 20px;
    }
    .name-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        input {
            width: 260px;
        }
        
    }
}

.profile-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.profile-header > p {
    margin-bottom: 50px;
}


// .profile-header:first-child {
//     width: 350px;
// }

.profile-edit-btns {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.profile-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

// .firstname > input, .lastname > input {
//     width: 260px;
//     margin: 0;
// }
