// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .group {
//     width: 100vw;

// }
.header-group{
    padding-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 700px;
}
.main-nav {
    display:flex;
    height: 68px;
    justify-content: space-between;
    // margin-left: 25px;
    padding: 0px 20px;

}


.right-nav > ul{
    justify-content: flex-end;;
    flex-direction: row;
    width: 496.3px;
    height: 56px;

}

.right-nav-icons{
    display: flex;
    justify-content: space-between;
    width:168px;
    height: 48px;
    position: relative;
    right: 0.5vw;
    padding: 5px 10px 0;
}

.left-nav-icons {
    max-height: 80px;
    display: flex;
    flex-direction: row;
}

.left-nav {
    color: #e60023;
    display: flex;
    flex-direction: row;
}

// .left-nav 
.login-signup {
    padding: 20px 20px;
}

button{   
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 20px;
    margin-left: 15px;
    vertical-align: middle;
    width: 77.66px;
    height: 48px;
    font-size: 12px;
    height: 40px;
    font-weight: 700;
    border: none;
    font-size: 16px;
    text-align: center;
}

#login {    
    background-color: #e60023;
    color: white;  
}

#signup {
    background-color: #efefef;;
    color: black;
    width: 88.13px;
}


button#modal-button{
    width: 320px;
    height: 40 px;
    margin-bottom: 10px;
    background-color: #e60023;
    color: white;
    margin-left: 0px;
    margin-top: 20px;
}


button:focus {
    outline: none;
}

button#demo-button1 {
    background-color: #1877F2;
    color: white;
    margin-bottom: 10px;
}
#demo-button1, #demo-button2 {
    width: 320px;
    height: 40 px;
    margin-left: 0;
    background-color: #efefef;
    color: #111111;
    // order: 1;
}

.main-content {
    // height: 150px;
    margin-top: 73.5px;
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    // height: 300px;
    
    div{
        margin: 2px;
        height: 30%;

    }
    p{
        z-index: 0;
        color: rgb(97, 140, 123);
        margin: 10px;
        transform: translateY(-80px);
    }
}

#search:focus{
    box-shadow: 0 0 4pt 4pt #4a8ad4;
    border-radius: 34px;
}

#search {
    height: 48px;
    text-indent: 50px;
    border: none;
    border-radius: 44px;
    background-color: #efefef;
    font-size: 16px;
    width: 70%;
    margin-left: 10px;
    color: #333;
    
}

.seeds-container {
    z-index: -1;
    position: absolute;
    left:1vw;
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-height: 235%;
    overflow: hidden;
    // -ms-flex-wrap: wrap;
    // margin-left: 15px;
    // margin-right: 0px;
    margin-top: -210px;
    padding-right: 15px;
    padding-left: 15px;
    // opacity: 0;
    // margin-left: 9px;
    // margin-right: 9px;
    // overflow: hidden;

    .column {
        width: 235px;
        margin-right: 17px;
    }
      .column1 {
        width: 235px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        // max-height: 280%;
        
    }
    // .column7{
    //     margin-right: 0px;
    //     .stretch {
    //     width: 235px;
    //     display: flex;
    //     align-content: stretch;
    // }
    // }
}

img {
    border-radius: 12px;
    width: 235px;
    max-height: 350px;
    position: relative;
    margin-bottom: 15px;
    
}


.placeholder1,.placeholder5 {
    // width: 230px;
    height: 130px;
}
.placeholder2, .placeholder4 {
    // width: 230px;
    height: 250px;
}
.placeholder3{
    // width: 230px;
    height: 400px;
}

// .column2, .column3, .column4,
// .column5, .column6, .column7 {
//        margin-bottom: 25px;
//     //    margin-right: 10px;
//        margin-left: 10px;
//        width: 230px;   
        
// }

// .column1 {
//     width: 230px;
//     margin-bottom: 25px;
// }
.column2 {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
}

.faStroopwafel1 {
    margin-right: 15px;
    color: #C28B00;
}
.faStroopwafel2 {
    color: #E60023;
    margin-right: 15px;
}
.faStroopwafel3 {
    color: #618C7B;
}

#go-to-board {
    // color: #111111;
    // // text-decoration-color: #111111;
    // fill: #efefef;

    border-radius:5px;
    padding:0 5px;
    text-align:center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-bottom: 15px;
    border: 2px solid #111111;
}

.user-initial {
    width: 48px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    color: #211922;
    background-color: #efefef;
    border-radius: 50%;
    margin: 20px;
}


#board-nav-header {
    color: #E60023;
}
